.pages-panel
  %p
    Pages
  = form_for(:page, url: pages_path) do |f|
    = f.label :title
    = f.text_field :title
    = f.label :slug
    = f.text_field :slug
    = submit_tag 'Create'
  %table
    %tr
      %th
      %th Slug
      %th Title
      %th
    - @site.pages.asc(:order).each do |page|
      %tr
        %td
          = link_to 'up', move_down_page_path(page), method: :put
          = link_to 'down', move_up_page_path(page), method: :put
        %td
          = page.slug
        %td
          = page.title
        %td
          = link_to 'delete', page_path(page), :confirm => 'Delete page?', :method => :delete