!!!
%html
  %head
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}
    %title= content_for?(:title) ? yield(:title) : "Morcury"
    %meta{:content => content_for?(:description) ? yield(:description) : "Morcury", :name => "description"}
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    
    = raw current_site.html_head

    = yield(:head)
  %body
    %header.navbar.navbar-fixed-top
      %nav.navbar-inner
        .container
          = render 'layouts/navigation'

    = yield(:top)

    #main{:role => "main"}
      = yield

    .footer#footer(data-mercury="full" data-content-store="snippet" data-snippet-key="body")<
      = raw current_site.snippets.find_or_initialize_by(name: 'footer').get_content('body')

    :javascript
      jQuery(parent).trigger('initialize:frame');