%h1 Sites
= link_to "New site", new_admin_site_path, class: 'btn btn-primary'
%hr
%table.table.table-condensed
  %thead
    %tr
      %th= Site.human_attribute_name :domains
      %th
  %tbody
    - @sites.each do |site|
      %tr
        %td= site.domains_string
        %td
          = link_to 'images', admin_site_images_path(site)
          = link_to 'snippets', admin_site_snippets_path(site)
          = link_to 'edit', edit_admin_site_path(site), :class => "btn btn-mini"

